{% extends 'layout.html.twig' %}

{% block title %}{{recette.titre}}{% endblock %}

{% block body %}
<div id="recettedetail">
    <h1>{{recette.titre}}</h1>

    <ul>
        <li>Temps total : {{recette.TempsTotal}} minutes</li>
        <li>Temps de préparation : {{recette.TempsPreparation}} minutes</li>
        {% if recette.TempsCuisson %}
        <li>Temps de cuisson : {{recette.TempsCuisson}} minutes</li>
        {% endif %}
        <li>Difficulté : {{recette.difficulte}} / 5</li>
    </ul>
    <h2>Instructions :</h2>
    <div id="instructions">
         {{recette.instruction | raw}}
    </div>

    <hr>

    <div id="publication">
        Posté par
        {{recette.utilisateur.email}} <br>
        Le {{recette.DatePublication | format_datetime( locale='fr',pattern="dd MMMM YYYY")}} <br>
        Classé dans la catégorie : {{recette.categorie.nom}}
    </div>
    
</div>

{% for commentaire in recette.commentaires %}
<div id="comms2">
    <div id="comms">
        <p>{{commentaire.contenu}}</p>
        <p id="datecomms">Le {{commentaire.DateCommentaire | format_datetime( locale='fr',pattern="dd MMMM YYYY")}}</p>
        {% if is_granted("ROLE_USER") and commentaire.utilisateur.id == app.user.id %}
        <a href="{{ path('app_sujet_commentaire_delete', {id: commentaire.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Suppression ?')">Supprimer</a>
        {% endif %}
     </div>
</div>
{% endfor %}

{% if is_granted("ROLE_USER") %}
{{form(form)}}
{% endif %}
                        
                            
{% endblock %}
