{% extends 'layout.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<style>
    tr{
        border: 1px solid black;
    }
    td{
        font-weight: bold;
        text-align: center;
        color: white;
    }
    tr{
        margin: 10px;
    }
</style>

{{dump()}}
<table>
    <thead>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse</th>
        <th>Date</th>
        <th>Action</th>
    
    </thead>
    {% for commande in app.user.commandes | reverse %}
    <tr>
        <td> {{commande.nom}} </td>
        <td> {{commande.prenom}} </td>
        <td> {{commande.adresseLivraison}} </td>
        <td> {{commande.dateCommande | format_datetime( locale='fr',pattern="dd MMMM YYYY HH:mm")}} </td>
         
        <td>
            <a href="{{ path('app_commande_view', {id: commande.id}) }}">
                <button>Détails</button>
            </a>
        </td> 
    </tr>
    {% endfor %}
</table>


{% endblock %}
