{% extends 'layout.html.twig' %}

{% block title %}Mes sujets{% endblock %}

{% block body %}
{% for sujet in sujets %}
<div id="card2">
    <div id="souscard">
        <a href="{{ path('app_sujet_view', {slug: sujet.slug}) }}" class="card-link">
            <div class="card"  style="margin:20px;">
                <div class="card-body">
                    <h1>{{sujet.titre}}</h1>
                    <div>{{sujet.contenu | u.truncate(200, '...')  | raw}}</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{sujet.DatePublication | format_datetime( locale='fr',pattern="dd MMMM YYYY HH:mm") }}</li>
                    </ul>
                    <a href="{{ path('app_compte_sujet_delete', {id: sujet.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Suppression ?')">Supprimer</a>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}
