<style>
    h1{
        color: blueviolet;
    }
</style>

<h1>Confirmation de commande</h1>
<div>
    <p style="color: white;">Cher Madame,Monsieur {{nom}}, <br>
    Rouge Délice vous remercie de votre commande et de votre confiance <br>
    Nous traitons actuellement votre commande. Pour cette raison, celle-ci ne peut plus être modifiée. Veuillez trouver ci-dessous le détail des articles commandés. <br>
    Nous espérons que vous serez satisfait de vos achats. <br>
    Cordialement, <br>
    Votre équipe Rouge Délice</p>
</div>
<h2>Détails de votre commande :</h2>
<div>
    <p style="text-decoration:underline;">Adresse de livraison :</p>
    {{prenom}} {{nom}} <br>
    {{adresseLivraison}} <br>
    {{codePostal}} {{ville}} <br>
    {{pays}} <br>
    {{telephone}}

    <p>Date de commande :</p>
    {{dateCommande | format_datetime( locale='fr',pattern="dd MMMM YYYY HH:mm")}}
</div>
<h2>COMMANDE :</h2>
<div>
    {% for panier in dataPanier %}

    Produit: {{panier.produit}} <br>
    Quantité: {{panier.quantite}}
    
    {% if panier.quantite == 1 %}

    <p>Prix: {{panier.prix}}€</p>

        {% else %}
            
        <p>Prix unitaire: {{panier.prix}}€</p>

        <p>Prix: {{panier.prix * panier.quantite}}€</p>

    {% endif %}
    <hr>
    {% endfor %}
    Total à regler:
    {{total}}€
</div>
