{% extends 'layout.html.twig' %}

{% block title %}Détail de ma commande{% endblock %}

{% block body %}
<style>
    tr{
        border: 1px solid black;
    }
    td{
        font-weight: bold;
        text-align: center;
        color: white;
    }
    tr{
        margin: 10px;
    }
</style>


<h1>Vous avez commandé:</h1>
<table>
    <thead>
        <th>Produit</th>
        <th>Qauntité</th>
        <th>Prix</th>
    
    </thead>
 {% for ligne in app.user.commandes.ligneCommandes %}
    {# {% for ligne in commande.ligneCommandes %}            #}
     <tr>
            <td>{{ligne.produit.nom}}</td>
            <td>{{ligne.quantite}}</td>
            <td>{{ligne.prix}}€</td>
        </tr>
        {% endfor %}
        {# {% endfor %} #}
</table>

{{dump()}}
{# {% for commande in app.user.commandes | reverse %}
    {% for ligne in commande.ligneCommandes %}
        <p>{{ligne.produit.nom}}</p>
        <p>{{ligne.quantite}}</p>
        <p>{{ligne.prix}}</p>
    {% endfor %}
{% endfor %} #}




{% endblock %}

