{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

 {% block body %}

<div style="background-color: rgba(184, 184, 184, 0.507); padding-top: 20px; padding-bottom: 20px;">

    <div style="background-color: white; width: 80%; margin: auto;">
        <h1 style="text-align: center;">Confirmation de commande</h1>
        <div style="margin: 20px; font-size: 1.3em;">
            <p>Cher Madame,Monsieur KOEBEL,</p>
            <p>Rouge Délice vous remercie de votre commande et de votre confiance</p>
            Nous traitons actuellement votre commande. Pour cette raison, celle-ci ne peut plus être modifiée.<br>
            Veuillez trouver ci-dessous le détail des articles commandés. <br>
            <p>Nous espérons que vous serez satisfait de vos achats.</p>
            Cordialement, <br>
            Votre équipe Rouge Délice</p>
        </div>
    
    </div>

    <div style="background-color: white; width: 80%; margin: auto;">
        <h2 style="margin: 10px;">Détails de votre commande :</h2>
        <div style="margin: 20px; font-size: 1.3em;">
            <p style="text-decoration:underline; font-weight: bold;">Adresse de livraison :</p>
            rafael KOEBEL <br>
            3 impasse du chalet <br>
            94340 Joinville le pont <br>
            france <br>
            0606609799
            
            <p style="text-decoration:underline; font-weight: bold;">Date de commande :</p>
            22/01/2010 12:12
        </div>
    </div>

    <div style="background-color: white; width: 80%; margin: auto;">
        <h2 style="margin: 10px;">COMMANDE :</h2>
        <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th width="80%" style="text-align:left; padding: 0 2.5em; color: #000; padding-bottom: 20px">Produit:</th>
                <th width="20%" style="text-align:right; padding: 0 2.5em; color: #000; padding-bottom: 20px">Prix:</th>
                
            </tr>
                
            <tr>
                <td width="80%" style="text-align:left; padding: 0 2.5em; color: #000; padding-bottom: 20px; border-top: 1px solid rgb(122, 122, 122);">
                    Fraise
                </td>

                <td width="20%" style="text-align:right; padding: 0 2.5em; color: #000; padding-bottom: 20px; border-top: 1px solid rgb(122, 122, 122);">
                    12€
                </td>

            </tr>
            
            <tr>
                <td width="80%" style="text-align:left; padding: 0 2.5em; color: #000; padding-bottom: 20px">
                    Quantité: 2
                </td>
            </tr>

            <tr>
                <td width="80%" style="text-align:left; padding: 0 2.5em; color: #000; padding-bottom: 20px;">
                    Prix unitaire: 12€
                </td>
            </tr>
            <tr>
                <td width="80%" style="text-align:left; padding: 0 2.5em; color: #000; padding-bottom: 20px; border-top: 3px solid black;">
                    Total à payer:  
                </td>
                <td width="20%" style="text-align:right; padding: 0 2.5em; color: #000; padding-bottom: 20px; border-top: 3px solid black; font-weight: bold;">
                    40€
                </td>
            </tr>
        </table>
    </div>
   
</div>












{# <h1>Confirmation de commande</h1>
<div>
    <p style="color: white;">Cher Madame,Monsieur {{nom}}, <br>
    Rouge Délice vous remercie de votre commande et de votre confiance <br>
    Nous traitons actuellement votre commande. Pour cette raison, celle-ci ne peut plus être modifiée. Veuillez trouver ci-dessous le détail des articles commandés. <br>
    Nous espérons que vous serez satisfait de vos achats. <br>
    Cordialement, <br>
    Votre équipe Rouge Délice</p>
</div>
<h2>Détails de votre commande :</h2>
<div>
    <p style="text-decoration:underline;">Adresse de livraison :</p>
    {{prenom}} {{nom}} <br>
    {{adresseLivraison}} <br>
    {{codePostal}} {{ville}} <br>
    {{pays}} <br>
    {{telephone}}

    <p>Date de commande :</p>
    {{dateCommande | format_datetime( locale='fr',pattern="dd MMMM YYYY HH:mm")}}
</div>
<h2>COMMANDE :</h2>
<div>
    {% for panier in dataPanier %}

    Produit: {{panier.produit}} <br>
    Quantité: {{panier.quantite}}
    
    {% if panier.quantite == 1 %}

    <p>Prix: {{panier.prix}}€</p>

        {% else %}
            
        <p>Prix unitaire: {{panier.prix}}€</p>

        <p>Prix: {{panier.prix * panier.quantite}}€</p>

    {% endif %}
    <hr>
    {% endfor %}
    Total à regler:
    {{total}}€
</div> #}




{% endblock %}
